footer {
    width: 1000px;
    height: 98px;
    position: absolute;
    top: 2842px;
    margin-left: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column; /* Располагаем элементы в колонку */
    align-items: center; /* Центрирование по горизонтали */
    /* justify-content: center; */
    /* background-color: blueviolet; */
}

footer .contact {
    position: absolute;
    width: 240.52px;
    height: 98px;
    left: 0px;
    top: -5px;
}

footer .text-center,
footer .see_lots,
footer .see_about {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    margin: 0px 0;
    top: 0px;
    position: relative;
}

footer .see_lots::after,
footer .see_about::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

footer .social {
    position: absolute;
    width: 240px;
    height: 48px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 48px; /* Отступы между картинками */
}

footer .social img {
    width: 48px;
    height: 48px;
}
