*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 3028px;
    width: 1100px;
    margin: 0 auto;
}
body {
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
}

/* .container {
  width: 1100px;
  margin: 0 auto; 

} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

img {
    width: 100%;
}
