/* стили для header */

.main-header {
    width: 1052px;
    height: 105px;
    margin-top: 92px; /* Отступ сверху */
    margin-left: 24px; /* Отступ слева */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: blue; */
    box-sizing: border-box; /* Учитывает границы и отступы в ширине и высоте */
}

.navigation {
    position: absolute;
    top: 44px;
    left: 26.52px;
}

.menu {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 391.48px;
    height: 22px;
    /* background-color: rgb(255, 77, 0);  */
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
    display: inline-block;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* кружок */
.menu li.about::before,
.menu li.service::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* линия под текстом */
.menu li.about::after,
.menu li.service::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.info {
    position: absolute;
    left: 454px;
    bottom: -4px;
}

.header-image {
    width: 148px;
    height: 105px;
}

.contact {
    position: relative;
    width: 240.52px;
    height: 98px;
    margin-top: 5px;
    left: 786px;
    /* background-color: red; */
}

.nav_contact {
    margin: 0;
    padding: 0;
}

.menu_contact {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu_contact li a {
    text-decoration: none; /* Убирает стандартное подчеркивание ссылок */
}

.menu_contact li {
    margin-bottom: 0;
    position: relative;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000;
}

.menu_contact li.phone,
.menu_contact li.mail {
    display: inline;
    position: relative;
}

.menu_contact li.phone::after,
.menu_contact li.mail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
    display: block;
    box-sizing: border-box; /* Для точного расчета ширины */
}
