.about_main {
    width: 1052px;
    height: 595px;
    position: absolute;
    top: 2067px;
    margin-left: 24px;
    gap: 0px;
    z-index: 1;
    /* background-color: rgb(255, 0, 217); */
}

.logo-column {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 35px;
    left: 47px;
    border-radius: 50%; /* Создание эллипса */
    background-color: rgb(0, 0, 0); 
    overflow: hidden;
    z-index: 2;
}

.logo-column img {
    width: 141.54px;
    height: 112.55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 3;
}

.about-column {
    width: 693px;
    height: 449px;
    position: absolute;
    top: 133px;
    left: 359px;
    z-index: 2;
}

.about-column p {
    width: 291px;
    height: 47px;
    margin-top: 3px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}


.about-column .about-text {
    width: 688px;
    height: 120px;
    position: absolute;
    top: 150px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
    z-index: 2;
}

.about-text .highlight {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    /* display: block;
    margin-bottom: 30px;   */
}

/* .about-text .highlight.phaph {
   
} */

.about-text .highlight.our {
    letter-spacing: 0.02em;
}

.about-text .highlight.was {
    letter-spacing: -0.01em;
}

.about-text .highlight.dio {
    letter-spacing: 0.03em;
}



.about-text-two {
    width: 693px;
    height: 168px;
    position: absolute;
    top: 294px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
    z-index: 2;
}

.about-text-two .highlight {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.about-text-two .highlight.they {
    letter-spacing: 0.04em;
}

.about-text-two .highlight.unluck {
    letter-spacing: 0.01em;
}

