/* стили для header */

.main-header {
    width: 1052px; 
    margin-top: 92px; /* Отступ сверху */
    margin-left: 24px; /* Отступ слева */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: blue; */
    box-sizing: border-box; /* Учитывает границы и отступы в ширине и высоте */
}

.navigation {
    display: flex;
    top: 44px;
    left: 26.52px;
}

.menu {
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 391.48px;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #000000;
    padding: 5px 0;
    display: inline-block;
    font-family: Raleway,Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* кружок */
.menu li:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    width: 7px;
    height: 7px;
    border: 1px solid #000;
    border-radius: 50%;
    transform: translateY(-50%);
}

/* линия под текстом */
.menu li:not(:first-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.info {
    position: absolute;
    left: 454px;
    bottom: -4px;
}

.header-image {
    width: 148px;
    height: 105px;
}

.contact {
    position: relative;
    width: 240.52px;
    margin-top: 5px;
    /* background-color: red; */
}

.menu_contact {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.menu_contact li a {
    text-decoration: none; /* Убирает стандартное подчеркивание ссылок */
}

.menu_contact li {
    margin-bottom: 0;
    position: relative;
    font-family: Raleway,Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000;
}

.menu_contact li.phone,
.menu_contact li.mail {
    display: inline;
    position: relative;
}

.menu_contact li.phone::after,
.menu_contact li.mail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #000;
    display: block;
    box-sizing: border-box; /* Для точного расчета ширины */
}

main {
    width: 1100px;
    margin-top: 92px; /* Отступ сверху для расстояния между блоками */
}

.jumbotron .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.subline {
    position: absolute;
    top: 667px;
    left: 78px;
    width: 637px;
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #ffffff;
    z-index: 3;
}

.jumbotron {
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    min-height: 757px;
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    width: 1100px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
  }

.title {
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  
.letspace {
    letter-spacing: 0.6em;
  }
  
.letblock {
    display: block;
    margin-bottom: 8px;
  }
  
.text-center {
    text-align: center;
  }
  
.text-right {
    text-align: right;
    margin-bottom: 0;
  }
  
.smallspace {
    letter-spacing: 30px;
  }
  
.no-letter-spacing {
    letter-spacing: 0;
  }
  
/* button */

.button {
    position: absolute;
    top: 655px;
    left: 794px;
    width: 256px;
    height: 51px;
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background-color: transparent; /* Прозрачный фон */
    text-decoration: none;
    z-index: 3;
}

footer {
    width: 1000px;
    height: 98px;
    position: relative;
    top: 500px;
    padding-bottom: 168px;
    margin-left: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

footer .contact {
    position: absolute;
    width: 240.52px;
    left: 0px;
    top: -5px;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

footer .text-center {
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    position: relative;
}

footer .social {
    position: absolute;
    width: 240px;
    height: 48px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 48px; /* Отступы между картинками */
}

footer .social img {
    width: 48px;
    height: 48px;
}

.lots {
    position:relative;
    width: 1052px;
    height: 692px;
    top: 179px;
    left:24px;     
}

.lots-title {
    width: 121px;
    left: 40px; /* Расположение текста относительно левого края */
    top: 0px; /* Текст будет выравнен по верхнему краю внутри блока lots */
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}

.lots-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 27px;
    list-style: none;
  }

  .overlay {
    inset: 0;
    position: absolute;
    z-index: 1;
    background-color: rgb(0 0 0/0.6);
  }

.lots__heading {
    position: relative;
    width: 121px;
    height: 47px;
    left: 40px; 
    top: 0px; 
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}

.lots__card-list  {
    position: absolute;
    top: 74px;
    width: 100%;
    gap: 0px;
    display: flex;
    justify-content: space-between;
}

.lots__card-list-item {
    display: inline-flex;
    margin-right: 20px; 
}

.card {
    width: 334px; 
    height: 563px; 
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; 
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    width: 254px;
    top: 50px; 
    left: 40px; 
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: white;
    display: inline-block;
    text-decoration: underline;
    z-index: 3;
}

.card__text {
    position: absolute;
    width: 254px;
    height: 360px;
    top: 155px; 
    left: 40px; 
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
    z-index: 3;
}

.first {
    top: 371px; 
}

.third {
    top: 251px;
}

.lots__look-more-link {
    margin-left: 40px;
    margin-top: 620px;
    display: inline-block;
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #000;
}

.about {
    padding: 180px 50px;
    width: 693px;
    top: 321px;
    display: grid;
    position: relative;
    grid-template-columns: 430px 1fr;
    gap: 25px;
}

.about__column {
    width: 693px;
    height: 449px;
    position: absolute;
    top: 133px;
    left: 359px;
    z-index: 2;
}

.about__logo {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
  }
  
.about__logo-image {
    object-fit: contain;
    object-position: top;
    width: 148px;
  }
  
.about__title {
    width: 291px;
    height: 47px;
    margin-top: 3px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
}

.about__text {
    width: 688px;
    height: 120px;
    position: absolute;
    top: 150px;
    font-family: "Raleway", Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: black;
    z-index: 2;
}

.dva {
    top: 294px;
}

.about_main {
    width: 1052px;
    position: absolute;
    top: 2067px;
    margin-left: 24px;
    gap: 0px;
    z-index: 1;
}

.logo-column {
    width: 240px;
    height: 240px;
    position: absolute;
    top: 35px;
    left: 47px;
    border-radius: 50%; /* Создание эллипса */
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 2;
}

.logo-column img {
    width: 141.54px;
    height: 112.55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 3;
}

.content-section {
    width: 1052px;
    height: 595px;
    position: relative;
    margin-left: 24px;
    gap: 0px;
    z-index: 1;
}
